.navbar {
	height: 80px;
	background-color: #fff;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.navbar__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: inherit;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar__search-form {
	width: 320px;
}
.navbar__person-info {
	justify-content: space-between;
	height: 100%;
}
.navbar__person-name {
	color: #4d4d4d;
	padding: 0 15px;
}
.navbar__person-ava-wrapper {
	position: relative;
}
.navbar__person-ava-circle {
	position: absolute;
	background-color: #ff893b;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	z-index: 1;
	top: 2px;
	right: 2px;
}
.navbar__icon-arrow {
	color: #c2c2c2;
	font-size: 10px;
	cursor: pointer;
}

/*Dropdown Styles*/
.dropdown {
  position: relative;
}

.dropdown-contents {
  	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
}
.dropdown.open .dropdown-contents {
  display: block;
}
.dropdown.open .navbar__icon-arrow {
	transform: rotateZ(180deg);
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
@media all and (max-width: 425px){
	.navbar {
		height: 70px;
	}
	.navbar__content {
		padding-top: 17px;
    	padding-bottom: 17px;
	}
	.navbar__search-form {
		width: 100%;
	}

	.navbar__person-info {
		display: none;
	}
   
}
@media all and (min-width: 426px) and (max-width: 800px){
	.navbar__person-info {
		margin-left: 50px;
	}
	.navbar__search-form {
    	width: calc(100% - 50px);
	}
}