html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .1px;
}
::-webkit-scrollbar { 
    display: none; 
}
body {
	margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.center_side {
    margin: 0 auto;
    max-width: 1150px;
}

.main-content {
	display: flex;
	flex-direction: row;
}
.main-content-right {
	flex-grow: 1;
}
.center-block {
	background-color: #f1f1f1;
	width: 100%;
	display: flex;
}
.center-block__inner-right {
	width: 300px;
	-webkit-box-shadow: inset -0.25px -0.9px 1.25px -0.5px #a7a5a5;
	box-shadow: inset -0.25px -0.9px 1.25px -0.5px #a7a5a5;

}
.center-block__inner-center {
	flex-grow: 1;
	-webkit-box-shadow: inset 0.5px 0.5px 2px -0.5px #a7a5a5;
	box-shadow: inset 0.5px 0.5px 2px -0.5px #a7a5a5;
}